{% if block.settings.title is not empty %}
    {% block title_field %}
        <h1>{{ block.settings.title }}</h1>
    {% endblock %}
{% endif %}

{% set message %}
    <div class="alert alert-success">
        {{ block.settings.success_message }}
    </div>
{% endset %}
{{ render(controller('C33sContactFormBundle:ContactForm:form', { 'use_ajax': true, 'success_message': message })) }}
